.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  background: rgba(77, 140, 87, 0.7);
  color: beige;
}

.beige {
  color: beige;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #013220;
}

.logo {
  width: 50%;
  text-align: left;
  padding: 0 5%;
}

.buttons {
  background: rgba(1, 50, 32, 0.6);
  border: solid 2px beige;
  color: beige;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.lang-buttons-panel {
  width: 30%;
  display: flex;
  justify-content: center;
}

.lang-buttons {
  margin: 1%;
  padding: 5% 10%;
}

.total-stats {
  margin: 1% 0;
  padding: 5%;
  text-align: left;
  background: url('../src/assets/germanymap.png') 95% 40% / 20% no-repeat;
}

.total-stats > h2,
.total-stats > h3,
.total-stats > h4 {
  font-weight: 700;
  margin: 1%;
}

.total-stats > h2 {
  font-size: 2rem;
}

.total-stats > h3 {
  font-size: 1.7rem;
}

.total-stats > h4 {
  font-size: 1.4rem;
}

.cities-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.button-pane {
  padding: 5% 2%;
}

.alphabet-btns {
  margin: 0.2em;
  padding: 0.5em 1em;
}

.city-tile {
  text-align: left;
  background: rgba(77, 140, 87, 0.7) url('../src/assets/arrow-icon.svg') no-repeat 90% 80% / 15%;
  padding: 1rem;
}

.cities-wrapper > a:nth-child(4n-3),
.cities-wrapper > a:nth-child(4n) {
  background:
    url('../src/assets/cycle2.png') 90% 10% / 30% no-repeat,
    url('../src/assets/arrow-icon.svg') no-repeat 90% 80% / 15%;
}

.cities-wrapper > a:nth-child(4n-2),
.cities-wrapper > a:nth-child(4n-1) {
  background:
    url('../src/assets/cycle1.png') rgba(1, 50, 32, 0.4) 90% 10% / 40%
    no-repeat;
}

.city-link {
  text-decoration: none;
  color: beige;
}

.city-tile > h3 {
  font-size: 1.3rem;
}

.city-tile > p {
  font-weight: 700;
}

.provider-details {
  padding: 5%;
  text-align: left;
  background: url('../src/assets/cycle3.png') 90% 40% / 20% no-repeat;
}

.provider-details > * {
  margin: 1%;
  font-weight: 700;
}

.provider-details > h2 {
  font-size: 1.6rem;
}

.provider-details > h2 {
  font-size: 1.3rem;
}

.location-details {
  display: grid;
  grid-template-columns: 1fr;
}

.station-detail {
  margin: 5%;
  padding: 5%;
  border: solid 2px rgba(1, 50, 32, 0.9);
  background: rgba(1, 50, 32, 0.4);
  font-weight: 800;
  border-radius: 20px;
}

.station-detail > * {
  margin: 2%;
}

.station-detail > h3 {
  font-size: 1.3rem;
}

.station-detail > p {
  font-size: 1.1rem;
}

.coordinates {
  width: 90%;
  padding: 5% 2%;
  text-align: center;
  border-radius: 10px;
  border: solid 2px rgba(1, 50, 32, 0.9);
  background: beige;
  font-size: 0.9rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .App {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .location-details {
    grid-template-columns: 1fr 1fr;
  }
}
