.App {
  text-align: center;
  border: solid 1px black;
  margin: 0 auto;
}

.logo {
  text-align: left;
}

.lang-buttons {
  display: flex;
  justify-content: flex-end;
}

.lang-buttons > * {
  border-radius: 0px;
  padding: 1% 5%;
}

@media screen and (min-width: 768px) {
  .App {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .App {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .App {
    width: 40%;
  }
}
